body{
    font-size: 18px; /* 1em */
    margin: 0px auto;
    max-width: 1340px; /* Tamanio de ventana */
    min-width: 1340px;
    font-family: 'Signika Negative', sans-serif;
    /* 470 */
}

header article {
    display: inline-block;
}

header nav ul{
    margin-left: -15px;
    margin-top: 100px;
    margin-bottom: 55px;
}

header nav ul li{
    display: inline-block;
    font-size: 2ch;
    margin-right: 35px;
}

hr{
    border-style: dashed;
    color: #949494;
} 

#headerArt02 {
    float: right;
}

#headerArt02 div {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}

#primeraSeccion {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 56.488% 0%; 
    
}

#bicicleta {
    position: relative;
    left: 50px;
    width: 517px; /* Ancho personalizado */
    height: 632.5px; /* Altura personalizada */
    /* 470 × 575 */
}

#garantia {
    position: relative;
    top: -100px;
    left: 40px;
    width: 202.4px; /* Ancho personalizado */
    height: 114.4px; /* Altura personalizada */
    /* 184 × 104 */
}

#buy {
    position: relative;
    top: 140px;
    right: 220px;
}

#LogoFirstBike {
    position: relative;
    top: 35px;
    left: 25px;
}

#gotoshop {
    position: relative;
    top: 70px;
    right: -80px;
}

.color_verde {
    color: #78F14C;
}

.letra_gris {
    color: #9E9E9E;
    font-size: 2.2ch;

}

.espaciado {
    position: relative;
    top: 30px;
}

.videos {
    position: relative;
    top: 60px;

}

.espaciadoVideo {
    margin-right: 30px;
}

#tamVideo {
    width: 47.5%;
}

.letra_grande {
    font-size: 10.5ch;
}

.nito {
    font-weight: bold;
}


