body {
    font-size: 18px; /* 1em */
    margin: 0px auto;
    max-width: 1340px; /* Tamanio de ventana */
    min-width: 1340px;
    font-family: 'Signika Negative', sans-serif;
    /* 470 */
}

footer {
    position: relative;
    top: 25px;
    font-size: 18px;
}

footer article {
    vertical-align: top;
    display: inline-block;
    width: 16%;
    padding-left: 30px;
}

footer ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

header article {
    display: inline-block;
}

header nav ul {
    margin-left: -15px;
    margin-top: 100px;
    margin-bottom: 55px;
}

header nav ul li {
    display: inline-block;
    font-size: 2ch;
    margin-right: 35px;
}

header nav ul li:hover {
    color: red; /* Cambia el color de texto al pasar el mouse por encima */
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse por encima */
	cursor: pointer;
}

footer ul li:hover {
    color: #78F14C; /* Cambia el color de texto al pasar el mouse por encima */
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse por encima */
	cursor: pointer;
}

#bicicleta {
    position: relative;
    left: 50px;
    width: 517px; /* Ancho personalizado */
    height: 632.5px; /* Altura personalizada */
    /* 470 × 575 */
}

#buy {
    position: relative;
    top: 140px;
    right: 220px;
}

#garantia {
    position: relative;
    top: -100px;
    left: 40px;
    width: 202.4px; /* Ancho personalizado */
    height: 114.4px; /* Altura personalizada */
    /* 184 × 104 */
}

#gotoshop {
    position: relative;
    top: 70px;
    right: -80px;
}

#headerArt02 {
    float: right;
}

#headerArt02 div {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}

#LogoFirstBike {
    position: relative;
    top: 35px;
    left: 25px;
}

#primeraSeccion {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 56.488% 0%; 
    
}

#segundaSeccion {
    position: relative;
    left: 20px;
    top: -25px;
}

#segundaSeccion img{
    position: relative;
    right: 5px;
}

#segundaSeccion span{
    position: relative;
    top: -15px;
    left: 5px;
}

#tamVideo {
    width: 47.5%;
}

.art_largo {
    width: 22.1%;
}

.espaciado {
    position: relative;
    top: 30px;
}

.espaciadoVideo {
    margin-right: 30px;
}

.color_verde {
    color: #78F14C;
}

.nito {
    font-weight: bold;
}

.letra_gris {
    color: #9E9E9E;

}

.letra_Sans {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.linea_punteada{
    border: none;
    height: 2px;
    background: repeating-linear-gradient(90deg, #9E9E9E, #9E9E9E 5px, transparent 5px, transparent 10px);
    background-size: 12px 2px; 
} 

.tamanio_medio {
    font-size: 2.2ch;
}

.tamanio_grande {
    font-size: 10.5ch;
}

.videos {
    position: relative;
    top: 60px;

}
